section{
    background-color: hsl(217, 54%, 11%);
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    
    background-color: hsl(216, 50%, 16%);
    padding: 20px;
    border-radius: 20px;
    width: 250px;
    font-family: 'Outfit', sans-serif;
}

.hover{
    width:100%;
    height: 100%;
    position: relative;
}
.hover .image{
    width: 100%;
    height: 100%;
    border-radius: 20px;
   
}

.hover-cover{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: hsl(178, 100%, 50%, 40%);
    opacity: 0;
    border-radius: 20px;
}

.icon-view{
    height: 40px; 
}

.hover-cover:hover{
    opacity: 1;
}

footer{
    display: flex;
    align-items: center;
    font-weight: 700;
}
.fl{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
}

.align{
    display: flex;
    align-items: center;
}
span{
    color: hsl(215, 51%, 70%);
}

h2:hover{
    color:hsl(178, 100%, 50%); ;
}

.name{
    color: white;
}
.name:hover{
    color: hsl(178, 100%, 50%);
}